.warning {
    --slds-c-alert-color-background: var(--slds-g-color-warning-container-1);
    --slds-c-alert-text-color: var(--slds-g-color-on-warning-1);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-block-start: var(--slds-c-alert-spacing-blockstart, var(--slds-g-spacing-2));
    padding-inline-end: var(--slds-c-alert-spacing-inlineend, var(--slds-g-spacing-6));
    padding-block-end: var(--slds-c-alert-spacing-blockend, var(--slds-g-spacing-2));
    padding-inline-start: var(--slds-c-alert-spacing-inlinestart, var(--slds-g-spacing-2));
    color: var(--slds-c-alert-text-color, var(--slds-g-color-on-info-1));
    font-weight: var(--slds-c-alert-font-weight);
    text-align: center;
    background-color: var(--slds-c-alert-color-background, var(--slds-g-color-info-container-1));
}

.grid {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
}

.icon--success  {
    --slds-s-icon-color-foreground: var(--slds-g-color-on-success-1);
    --slds-c-icon-color-foreground: var(--slds-g-color-on-success-1);
}


.icon--error {
    --slds-s-icon-color-foreground: var(--slds-g-color-on-error-1);
    --slds-c-icon-color-foreground: var(--slds-g-color-on-error-1);
}

.msg-title {
    display: flex;
    gap: 0.75rem;
}